p#title {
    position: absolute;
    font-family: header;
    cursor: default;
    text-decoration: underline var(--lightBlue);

    letter-spacing: 0.35vh;
    font-size: 8vh;
    top: 0;
    left: 25vh;
}
div.left {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 15vh;
}
div.left:nth-of-type(1) {
    margin-top: 35vh;
}
div.right {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 15vh;
}
p.descriptions {
    cursor: default;
    
    width: 50vw;
    font-size: 2vh;
}
img#planckFormula {
    width: 40vh;
}
img#schrodingerFormula {
    width: 60vh;
}
img#incertitudeEquation {
    width: 20vh;
}
img#superpositionEquation {
    width: 70vh;
}
hr{
    border: none;

    width: 75vh;
    margin-bottom: 15vh;
    margin-top: 15vh;
    height: 1px;

    background: var(--color);
}
hr::after{
    position: absolute;

    margin-top: -17.5px;
    margin-left: 36vh;
    width: 35px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

    background: var(--backgroundColor);
    content: url(../pics/atomHr.svg);
}
@media only screen and (max-width: 500px) {
    p#title {
        left: 2vh;
    }
    section#content {
        margin-top: 85%;
    }
    div.left {
        flex-flow: column wrap;
        width: 100vw;
    }
    div.right {
        flex-flow: column wrap;
        width: 100vw;
    }
    p.descriptions {
        width: 95vw;
        margin: 5vh 2.5vw;
        font-size: 2.25vh;
    }
    img#schrodingerFormula {
        width: 50vh;
    }
    img#superpositionEquation {
        width: 50vh;
    }
    hr {
        width: 100vw;
    }
    hr::after {
        margin-left: 46.5vw;
    }
}