:root {
    --backgroundColor: #fcffeb;
    --color: #242424;
    --orange: #ffab4b;
    --lightBlue: #59acff;
    --darkBlue: #4d7ea8;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: header;
    src: url(../font/Anton-Regular.ttf);
}
@font-face {
    font-family: contentFont;
    src: url(../font/HeptaSlab-VariableFont_wght.ttf);
    font-weight: 450;
}
html {
    font-family: contentFont, "Courier New", Courier, monospace;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 0;
    margin: 0;

    background-color: var(--backgroundColor);
    color: var(--color);
}
body {
    margin: 0;
    padding: 0;
}
img.themeIcon {
    position: fixed;
    cursor: pointer;

    top: 0;
    left: 0;
    z-index: 9999;
    width: 3.5vh;
    margin: 1vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 100vh;
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    -ms-border-radius: 100vh;
    -o-border-radius: 100vh;

    background: var(--backgroundColor);
}
img.themeIcon:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
div#progress {
    position: fixed;
    cursor: default;

    z-index: 9980;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;

    background: var(--lightBlue);
}
svg#burger {
    position: fixed;
    cursor: pointer;

    z-index: 9999;
    height: 4vh;
    width: 4vh;
    right: 1vh;
    top: 0;
    margin: 1vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    background: var(--backgroundColor);
}
p#mainContent {
    background: none;

    line-height: 5vh;
    font-size: 2.5vh;
}
