:root{
    --backgroundColor: #fcffeb;
    --color: #242424;
    --orange: #ff934b;
    --lightBlue: #59acff;
    --darkBlue: #4D7EA8;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
::-webkit-scrollbar{
    display: none;
}
@font-face{
    font-family: header;
    src: url(../font/Anton-Regular.ttf);
}
@font-face{
    font-family: contentFont;
    src: url(../font/HeptaSlab-VariableFont_wght.ttf);
    font-weight: 450;
}
html{
    font-family: contentFont, 'Courier New', Courier, monospace;
    overflow-x: hidden;

    padding: 0;
    margin: 0;

    background-color: var(--backgroundColor);
    color: var(--color);
}
body{
    margin: 0;
    padding: 0;
}
img.themeIcon{
    position: fixed;
    cursor: pointer;
    background: none;

    z-index: 9999;
    width: 3.5vh;
    margin: 1vh;
}
svg#burger{
    position: fixed;
    background: none;
    cursor: pointer;
    
    z-index: 9999;
    height: 4vh;
    width: 4vh;
    right: 1vh;
    top: 0;
    margin: 1vh;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
div#menuBg{
    position: fixed;
    
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: .75s ease;
    -webkit-transition: .75s ease;
    -moz-transition: .75s ease;
    -ms-transition: .75s ease;
    -o-transition: .75s ease;
    border-radius: 10vh 0 10vh 50vh;
    -webkit-border-radius: 10vh 0 10vh 50vh;
    -moz-border-radius: 10vh 0 10vh 50vh;
    -ms-border-radius: 10vh 0 10vh 50vh;
    -o-border-radius: 10vh 0 10vh 50vh;

    background: var(--lightBlue);
}
nav{
    position: fixed;
    
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
img#menuAtom{
    position: absolute;
    display: none;

    right: 52.8%;
    top: 3.5vh;
    z-index: 9990;
    width: 40vh;
}
div#linksParent{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    z-index: 9998;
    height: 100%;
    width: 40%;
    right: 25vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    border-left: none;
}
div#linksParent a{
    background: none;
    outline: none;
    text-decoration: none;
    display: none;
    cursor: pointer;
    
    width: 42%;
    opacity: 0;
    font-size: 650;
    padding: 1vh;
    margin-left: 30%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    
    color: #242424;
    border-bottom: solid #242424 2px;
}
div#linksParent a:hover{
    color: var(--orange);
}
div#linksParent a::before{
    content: "\A0";
    position: absolute;
    background: none;
    
    z-index: 9999;
    width: 0;
    height: 5vh;
    margin-left: -1.2vh;
    margin-top: -1.12vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    border-bottom: solid var(--orange) 2px;
}
div#linksParent a:hover::before{
    width: 45%;
}
p#mainContent{
    background: none;

    line-height: 5vh;
    font-size: 2.5vh;
}
footer{
    position: absolute;

    z-index: -1;
    width: 100%;
    margin: 0;
    margin-top: 5vh;
}
footer #wave{
    z-index: -1;
    margin-bottom: -1vh;
}
footer svg text{
    font-family: contentFont;

    z-index: 9999;

    fill: var(--color);
}
footer svg text.links{

    fill: var(--orange);
}
footer svg text#footerHeader{
    font-family: header;
    text-decoration: underline;
    
    font-size: 4vh;

    fill: var(--color);
}