p#title {
    position: absolute;
    font-family: header;
    cursor: default;
    text-decoration: underline var(--lightBlue);

    letter-spacing: 0.35vh;
    font-size: 8vh;
    top: 0;
    left: 25vh;
}
section#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    margin: 0;
    margin-top: 15%;
}
div.left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
}
p.content {
    font-size: 1.85vh;
    line-height: 4vh;
    width: 45%;
    margin: 5vh;
}
canvas {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    width: 500px;
    height: 250px;

    background: var(--backgroundColor);
}
canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
hr {
    border: none;

    width: 75vh;
    margin-bottom: 15vh;
    margin-top: 15vh;
    height: 1px;

    background: var(--color);
}
hr::after {
    position: absolute;

    margin-top: -17.5px;
    margin-left: 36vh;
    width: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    background: var(--backgroundColor);
    content: url(../pics/atomHr.svg);
}
footer {
    top: 400%;
}
@media screen and (max-width: 469px) {
    p#title {
        left: 1.5vh;
    }
    section#content {
        flex-flow: column wrap;

        margin-top: 75%;
        margin-left: 0;
    } 
    div.right {
        flex-flow: column wrap;
    }
    div.left {
        flex-flow: column wrap;
    }
    p.content {
        font-size: 2.25vh;
        width: 95vw;
        margin: 2vh 2.5vw;
    }
    canvas {
        margin-left: -75px;
    }
    hr {
        width: 100vw;
        margin-left: 0;
    }
    hr::after {
        margin-left: 46.5vw;
    }
    footer {
        top: 725%;
    }
}
@media screen and (min-width: 470px) and (max-width: 769px) {
    p#title {
        left: 3vh;
    }
    section#content {
        margin-top: 30%;
    } 
    hr {
        width: 100vw;
        margin-left: 0;
    }
}
