body{
    min-height: 100vh;
    height: 100vh;
    display: flex;
}
p#title {
    position: absolute;
    font-family: header;
    cursor: default;
    text-decoration: underline var(--lightBlue);

    letter-spacing: 0.35vh;
    font-size: 8vh;
    top: 0;
    left: 25vh;
}
section#content {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;

    top: 30%;
}
section#content > canvas {
    cursor: grab;
    background: none;

    width: 45%;
}
section#content > canvas:active {
    cursor: grabbing;
}
section#content > p#mainContent {
    background: none;

    width: 45%;
}

@media screen and (max-width: 500px) {
    section#content {
      flex-flow: column;
  
      width: 95%;
      top: 35%;
      margin: 0 2.5%;
    }
    section#content > p#mainContent {
      position: relative;
      width: 100%;
    }
    p#title {
      left: 3vh;
    }
    hr {
      width: 100vw;
      margin-left: 0;
    }
    section#content > canvas {
      display: none;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 769px) {
    section#content {
      flex-flow: column;
  
      width: 95%;
      top: 45%;
      margin: 0 2.5%;
    }
    section#content > p#mainContent {
      position: relative;
      width: 100%;
    }
    p#title {
      left: 3vh;
    }
    section#content > canvas {
      height: 100%;
      width: 100%;
    }
  }
  